body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   margin: 0;
   padding: 0;
}
html{
    scroll-behavior: smooth;
}
/*********Nav bar*********/
header{
    background-image: url(/images/header-back);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    z-index: -1;
}
.navbar-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1850px;
}
.navbar-logo__menu{
    display: flex;
    align-items: center;
}
.navbar-logo{
    display: flex;
    margin-left: 70px;

}
.navbar-logo img{
    height: 100%;
    margin-top: 20px;
    width: 17%;
}
.navbar-logo h1{
    margin-left: 5px;
}
.navbar__main-menu{
    display: flex;
}
.navbar__main-menu li{
    list-style-type: none;
    margin-right: 30px;
}
.navbar__main-menu a{
    text-decoration: none;
    color: rgb(116, 112, 112);
    font-weight: 600;
    transition: all 300ms ease-in-out;
    font-size: 17px;
}
.new-style__sta{
    color: rgb(153, 149, 149);
}
.navbar__main-menu a:hover{
    color: black;
}
.button-navbar a{
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 20px;
    border: 2px solid rgb(218, 64, 115);
    padding: 7px ;
    border-radius: 50px;
}
.coming-soon__text{
    color: red;
    border: 1px solid red;
    max-width: 65px;
    font-size: 12px;
    border-radius: 10px;
    position: relative;
    left: 555px;
    bottom: 70px;
}
/***************header*****/
.header-text{
    margin-left: 300px;
    margin-top: 150px;
    line-height: 0.2;
}
.text1{
    font-size: 90px;
}
.text2{
    font-size: 80px;
    color: rgba(150, 20, 87, 0.8);
}
.text3{
    font-size: 80px;
}
.header-text p {
    font-size: 23px;
    font-weight: 600;
    color: grey;
}
.header-image__container img{
    float: right;
    position: relative;
    bottom: 480px;
    width: 25%;
    right: 350px;
}
.header-main__image img{
    float: right;
    position: relative;
    bottom: 425px;
    width: 16.2%;
    left: 108px;
    height: 310px;
    border-radius: 10px;
}
.header-image{
    position: relative;
    float: right;
    left: 345px;
    color: white;
    bottom: 130px;
}
.k-image img{
    float: right;
    position: relative;
    left: 870px;
    bottom: 122px;
}
.text1-image{
    position: relative;
    float: right;
    left: 540px;
    color: white;
    font-weight: 600;
    bottom: 94px;
}
.check1-image{
    float: right;
    position: relative;
    left: 840px;
    bottom: 75px;
}
.text2-image{
    position: relative;
    float: right;
    left: 520px;
    color: white;
    font-weight: 600;
    bottom: 35px;
}
.image-twitter img{
    width: 2%;
    border-radius: 50px;
    position: relative;
    float: right;
    left: 842px;
    bottom: 40px;
}
.text3-image{
    float: right;
    position: relative;
    left: 792px;
    bottom: 25px;
}
.text3-image a{
    text-decoration: none;
    font-weight: 600;
    color: white;
}
.check-image{
    position: relative;
    float: right;
    left: 930px;
    bottom: 24px;
}
.all-buttons{
    display: flex;
    margin-left: 300px;
}
.all-buttons a{
    text-decoration: none;
    margin-right: 20px;
    font-size: 22px;
    font-weight: 600;
}
.all-buttons{
    margin-top: 70px;
}
.button1 a{
    color: black;
    border: 2px solid rgba(150, 20, 87, 0.8);
    padding: 7px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 50px;
}
.button2 a{
    color: rgba(150, 20, 87, 0.8);
    font-size: 22px;
}
/***************llanchpad******/
.swiper {
    width: 100%;
    height: 100%;
    position: relative;
    top: 50px;
  }
.upcoming-section{
      background-color: black;
      height: 70vh;
  }
.image-slide1{
      position: relative;
      left: 150px;
      box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
      border: 1px solid transparent;
      border-radius: 40px;
      padding-bottom: 20px;
}
.text-slide-1{
    position: relative;
    left: 335px;
    bottom: 290px;
    z-index: 1;
    color: black;
}
.text-slide-2{
    position: relative;
    left: 335px;
    bottom: 300px;
    z-index: 1;
    color: grey;
}
.text-slide-3{
    position: relative;
    left: 190px;
    bottom: 320px;
    z-index: 1;
    color: black;
}
.text-slide-4{
    position: relative;
    left: 440px;
    bottom: 365px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 18px;
}
.text-slide-5{
    position: relative;
    left: 190px;
    bottom: 380px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}

.text-slide-6{
    position: relative;
    left: 190px;
    bottom: 400px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}
.mint-button-2 img{
    position: relative;
    left: 265px;
    bottom: 400px;
}
.mint-button-2 h1{
    position: relative;
    bottom: 459px;
    color: white;
    left: 360px;
}
.title-section{
    color: white;
}
.text-title3{
    float: right;
    position: relative;
    right: 100px;
    bottom: 50px;
}
.text-title2{
    position: relative;
    font-size: 100px;
    left: 150px;
    max-width: 900px;
    top: 50px;
}
.text-title1{
    position: relative;
    font-size: 30px;
    left: 170px;
    max-width: 900px;
    top: 140px;
}
.check-image-title img{
    float: right;
    position: relative;
    left: 20px;
    bottom: 18px;
}
.image-slide2{
    position: relative;
    left: 80px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    border: 1px solid transparent;
    border-radius: 40px;
    padding-bottom: 20px;
}
.image-slide3{
    position: relative;
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    border: 1px solid transparent;
    border-radius: 40px;
    padding-bottom: 20px;
}
.image-slide6{
    position: relative;
    left: 50px;
    box-shadow: 0 20px 80px rgb(0 0 0 / 45%);
    border: 1px solid transparent;
    border-radius: 40px;
    padding-bottom: 20px;
}
.slide1-link{
    text-decoration: none;
}
/**************slider 2*****/
.text-slide-1-1{
    position: relative;
    left: 270px;
    bottom: 290px;
    z-index: 1;
    color: black;
}
.text-slide-2-2{
    position: relative;
    left: 270px;
    bottom: 300px;
    z-index: 1;
    color: grey;
}
.text-slide-3-3{
    position: relative;
    left: 120px;
    bottom: 320px;
    z-index: 1;
    color: black;
}
.text-slide-4-4{
    position: relative;
    left: 380px;
    bottom: 365px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 18px;
}
.text-slide-5-5{
    position: relative;
    left: 120px;
    bottom: 380px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}

.text-slide-6-6{
    position: relative;
    left: 120px;
    bottom: 400px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}
/*********slider 3*******/
.text-slide-1-3{
    position: relative;
    left: 190px;
    bottom: 290px;
    z-index: 1;
    color: black;
}
.text-slide-2-3{
    position: relative;
    left: 190px;
    bottom: 295px;
    z-index: 1;
    color: grey;
}
.text-slide-3-2{
    position: relative;
    left: 50px;
    bottom: 320px;
    z-index: 1;
    color: black;
}
.text-slide-4-6{
    position: relative;
    left: 300px;
    bottom: 360px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 18px;
}
.text-slide-5-3{
    position: relative;
    left: 50px;
    bottom: 380px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}

.text-slide-6-3{
    position: relative;
    left: 50px;
    bottom: 400px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}
/*****************slider 5*******/
.text-slide-1-4{
    position: relative;
    left: 230px;
    bottom: 290px;
    z-index: 1;
    color: black;
}
.text-slide-2-4{
    position: relative;
    left: 230px;
    bottom: 295px;
    z-index: 1;
    color: grey;
}
.text-slide-3-4{
    position: relative;
    left: 100px;
    bottom: 320px;
    z-index: 1;
    color: black;
}
.text-slide-4-3{
    position: relative;
    left: 330px;
    bottom: 365px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 18px;
}
.text-slide-5-4{
    position: relative;
    left: 100px;
    bottom: 380px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}

.text-slide-6-4{
    position: relative;
    left: 100px;
    bottom: 400px;
    z-index: 1;
    color: rgb(90, 86, 86);
    font-size: 22px;
}
.mint-button-3 img{
    position: relative;
    left: 160px;
    bottom: 400px;
}
.mint-button-3 h1{
    position: relative;
    bottom: 460px;
    color: white;
    left: 260px;
}
/*************timer**/
.all-timer{
    position: relative;
    left: 230px;
    bottom: 400px;
    z-index: 1;
}
.days{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.hours{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.minutes{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.seconds{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.flex-days {
    display: flex;
    position: relative;
    left: 230px;
    bottom: 400px;
    z-index: 1;
    font-weight: 600;
    color: black;
}
.flex-days p{
    margin-right: 20px;
}
/**********timer slider 3*******/
.all-timer2{
    position: relative;
    left: 160px;
    bottom: 400px;
    z-index: 1;
}
.days2{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.hours2{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.minutes2{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.seconds2{
    border: 1px solid transparent;
    background-color: grey;
    color: white;
    padding: 7px;
    border-radius: 10px;
}
.flex-days2 {
    display: flex;
    position: relative;
    left: 160px;
    bottom: 400px;
    z-index: 1;
    font-weight: 600;
    color: black;
}
.flex-days2 p{
    margin-right: 20px;
}
/**********************trending*******/
.trending-section{
    margin-top: 650px;
    height: 100vh;
}
.first-title{
    margin-left: 170px;
    color: black;
    position: relative;
    top: 70px;
    font-size: 30px;
}
.second-title{
    margin-left: 170px;
    color: black;
    font-size: 90px;
}
.all-in{
    max-width: 200px;
}
.main-list1 li{
    list-style-type: none;
}
.main-list1 a{
    text-decoration: none;
    color: black;
}
.number{
    position: relative;
    left: 150px;
    top: 70px;
}
.image1 img{
    border-radius: 50px;
    width: 40%;
    position: relative;
    left: 200px;
}
.name{
    position: relative;
    left: 300px;
    bottom: 100px;
}
/*****2**/
.number2{
    position: relative;
    left: 150px;
    bottom: 20px;
}
.image2 img{
    border-radius: 50px;
    width: 40%;
    position: relative;
    left: 200px;
    bottom: 90px;
}
.name2{
    position: relative;
    left: 300px;
    bottom: 190px;
}
/*******3****/
.number3{
    position: relative;
    left: 150px;
    bottom: 120px;
}
.image3 img{
    border-radius: 50px;
    width: 40%;
    position: relative;
    left: 200px;
    bottom: 190px;
}
.name3{
    position: relative;
    left: 300px;
    bottom: 290px;
}
.trending-list2{
    position: relative;
    left: 400px;
    bottom: 718px;
    max-width: 300px;
}
.trending-list3{
    position: relative;
    left: 800px;
    bottom: 1438px;
    max-width: 300px;
}
.trending-list4{
    position: relative;
    left: 1150px;
    bottom: 2158px;
    max-width: 300px;
}
.all-trending{
    height: 100vh;
}
.view-button a{
    position: relative;
    font-weight: 600;
    color: black;
    text-decoration: none;
    bottom: 1020px;
    left: 1600px;
    font-size: 20px;
}
.view-button a:hover{
    text-decoration: underline;
}